window {
    margin: 5px;
    border: 2px solid #1793d1; /* Синий как в Starship */
    background-color: #1a1b26; /* Темный фон */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
}

#input {
    margin: 5px;
    border: none;
    color: #ffffff;
    background-color: #24283b;
}

#inner-box {
    margin: 5px;
    color: #bb9af7; /* Твой любимый фиолетовый */
}

#entry:selected {
    background-color: #1793d1;
    color: #ffffff;
}
